{% extends 'base.html' %}

{% load static %}

{% block title %}Nosotros - Feelin' Star{% endblock %}

{% block content %}



    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Nosotros</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

    <!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">

                    <h2 class="mb-3">Nuestra Misión:</h2>
                    <p class="mb-4">Facilitar la conexión y colaboración entre músicos de todo el mundo a través de salas virtuales de ensayo, ofreciendo herramientas intuitivas para crear, compartir y vivir experiencias musicales en tiempo real, impulsando la creatividad y la comunidad artística sin barreras geográficas.</p>  
                    <h2 class="mb-3">Nuestra Visión:</h2>
                    <p class="mb-4">Convertirse en la plataforma líder para ensayos virtuales y encuentros musicales en línea, siendo el punto de origen de bandas que en el futuro alcancen reconocimiento internacional, y un espacio donde las bandas establecidas encuentren visibilidad y nuevas audiencias. Feelin’ Star buscará abrir las puertas a nuevas formas de audición y colaboración entre músicos, impulsando conexiones creativas que trasciendan fronteras y redefinan la manera en que se descubre y comparte el talento musical.</p>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->



{% endblock %}




